<%- include("../components/pageHeaders/pageHeaderWithDelete.ejs", { type: "item" }) %>
<section class="px-8 flex-1">
  <%- include("../components/forms/itemForm", { item, formSubmitRoute: `/items/${item.id}/update`}) %>
</section>
<footer class="flex gap-2 p-6 border border-base-200">
  <input type="submit" form="item-form" value="Save" class="btn btn-primary" />
  <button type="button" class="btn bg-white text-gray-500 border-gray-400" onclick="history.back()">Cancel</button>
</footer>
<%- include("../components/deleteModal", { itemId: item.id }) %>

<script src="/js/editItemScript.js"></script>
<script src="/js/deleteItemScript.js"></script>