<aside class="drawer-side shadow-sm">
  <label for="nav-drawer" aria-label="Close navigation sidebar" class="drawer-overlay"></label>
  <div class="bg-secondary min-h-full w-70 py-4 text-white">
    <div class="flex items-center gap-4 mb-6 p-6">
      <figure class="w-10">
        <img src="/images/coffee-cup.png" alt="Logo" />
      </figure>
      <h1 class="text-4xl app-name opacity-90 tracking-wide">LeCoff</h1>
    </div>
    <nav class="menu w-full">
      <ul>
        <% links.forEach((link) => { %>
        <li><%- include("./navLink.ejs", { link }); %></li>
        <% }); %>
      </ul>
    </nav>
  </div>
</aside>
<script src="/js/navScript.js"></script>