<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= locals.title %> | Manage your coffee inventory</title>
  <link rel="stylesheet" href="/css/output.css" />
  <link rel="shortcut icon" href="/images/coffee-cup.png" type="image/x-icon">
</head>

<body>
  <div class="drawer lg:drawer-open min-h-screen">
    <input id="nav-drawer" type="checkbox" class="drawer-toggle">
    <div class="drawer-content flex flex-col">
      <%- include("../components/userAvatarHeader") %>
      <main class="flex flex-col flex-1">
        <%- body %>
      </main>
    </div>
    <%- include("../components/navDrawer/index", { links: [{label: "items", route: "/items"}, {label: "categories", route: "/categories"}] }) %>
  </div>
</body>

</html>