<dialog id="delete-modal" class="modal">
  <div class="modal-box p-0">
    <div class="flex items-center gap-4 p-6">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trash-icon lucide-trash w-6 stroke-error">
        <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6" />
        <path d="M3 6h18" />
        <path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" />
      </svg>
      <h1 class="text-2xl">Deleting item</h1>
    </div>
    <p class="px-6">
      You're about to delete this item. This action cannot be undone. Are
      you sure you would like to delete it?
    </p>
    <div class="modal-action border border-base-200 p-6">
      <form action="/items/<%= itemId %>/delete" method="POST" class="flex gap-2 w-full">
        <button type="button" class="cancel-btn btn bg-white text-gray-500 border-gray-400">No, keep it</button>
        <button type="submit" class="btn btn-error text-white">Yes, delete</button>
      </form>
    </div>
  </div>
</dialog>